# === VS-specific folders ===
.vs/

# === Build output ===
**/bin/
**/obj/

# === Logs and temp files ===
**/logs/
**/log/
*.log
*.tmp

# === User-specific and cache files ===
*.suo
*.user
*.userosscache
*.sln.docstates
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.assets.cache
*.GeneratedMSBuildEditorConfig.editorconfig
