################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/share-solution/.vs/share-solution/FileContentIndex
/share-solution/.vs/share-solution/v17
/share-solution/.vs/share-solution/DesignTimeBuild
