							################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
# Optimized for .NET + Angular development
################################################################################

# === VS-specific folders ===
.vs/
share.Application/[Oo]bj/
/share-solution/share.Application/obj/Debug/net8.0/share.Application.AssemblyInfo.cs
/share-solution/share.Application/obj/Debug/net8.0/share.Application.AssemblyInfoInputs.cache
/share-solution/share.Application/obj/Debug/net8.0/share.Application.assets.cache
/share-solution/share.Application/obj/Debug/net8.0/share.Application.GeneratedMSBuildEditorConfig.editorconfig
